.section {
    padding: 1.2rem;
    border-bottom: 1px solid rgb(106, 103, 103);
}

.section .item {
    display: flex;
    align-items: center;
    border-radius: 7px;
    padding: 0.5rem;
    cursor: pointer;
    &.active {
        background-color: #272727;
    }
    &:hover {
        background-color: #272727;
    }
}

.section .item .item-name {
    margin-left: 20px;
}